{% load static %}
<html class="bg-bg-color">
    <head>
        <title>{% block title %}LinkHouse {% endblock title%}</title>

        <link rel="stylesheet" href="{% static 'css/output.css' %}">

        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    {% block header %}

        <div class="flex justify-items-center justify-center bg-bg-color">
            <img src="{% static 'images/logo-lh.svg' %}" class="w-28 h-36" alt="linkhouselogo">
        </div>

    {% endblock header %}

    <main class="h-screen bg-bg-color">
        {% block Content %}
            
            <h1>Somthing went wrong!</h1>
            
        {% endblock Content %}
    </main>
</html>


